<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<string>一些特殊易忘总结</string>
		<key>son</key>
		<array>
			<string>整套学习记录</string>
			<string>微博学习记录</string>
			<string>网易学习记录</string>
			<string>经典日常英语口语回汇总大全</string>
			<string>500句最常用英语口语</string>
		</array>
		<key>pushViewNames</key>
		<array>
			<string>XueXiJiLU</string>
			<string>WeiBoZongJie</string>
			<string>wangYiXueXi</string>
			<string>EnglishSpokenLangurage</string>
			<string>500SpokenLangurage</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>视频学习</string>
		<key>son</key>
		<array>
			<string>多线程和网络</string>
			<string>网络框架AFNetWorking使用</string>
			<string>UIViewController的解析（包含纯代码AppDelegate解析-视图内部文字说明）</string>
			<string>视图布局-UI-基础</string>
			<string>网易新闻</string>
		</array>
		<key>pushViewNames</key>
		<array>
			<string>ZYXueXiViewController</string>
			<string>AFNetworkingVC</string>
			<string>VCAndAppJieXiVC</string>
			<string>UIJiChuXueXiTVC</string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>网络下载学习</string>
		<key>son</key>
		<array>
			<string>网页视图加载省内存iOS8.0以后</string>
			<string>树状tabelView</string>
			<string>字体随机色特殊排序</string>
		</array>
		<key>pushViewNames</key>
		<array>
			<string>ZYWKWebVC</string>
			<string>ShuZhuangCellVC</string>
			<string>ZiTiSuiYiPaiBuVC</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>没事测试</string>
		<key>son</key>
		<array>
			<string>scrollView嵌套tableView--单一循环滚动</string>
			<string>scrollView嵌套tableView，有多个滚动不冲突</string>
			<string>一些参数默认数据</string>
			<string>Bock，代理，通知，kvc的使用</string>
			<string>测试：拨打电话，发送短信，设置图标右上角数字</string>
			<string>定时器的使用</string>
			<string>简单动画</string>
			<string>导航栏的一些设置</string>
			<string>SegmentedControl的一些使用</string>
			<string>原来的第二个页面处理，（CALayer,DatePicker,AFN3.0测试，表情串，加载网页），主要在于TabView.h的使用</string>
			<string>多选删除cell</string>
			<string>完全自定义键盘</string>
			<string>模态弹窗</string>
		</array>
		<key>pushViewNames</key>
		<array>
			<string>FSScrollViewNestTableView</string>
			<string>FSBaseViewController</string>
			<string>CeShiSHuJuVC</string>
			<string>BlockViewController</string>
			<string>BoDaDianHuaVC</string>
			<string>TimerVC</string>
			<string>JianDanDongHuaVC</string>
			<string>DaohangLanSheZhiVC</string>
			<string>SegmentedVC</string>
			<string>YuanYouErYeVC</string>
			<string>DuoXuanshanChuCellTVC</string>
			<string>ZYZiDIngYiJianPanVC</string>
			<string>ZYPresentAlertVC</string>
		</array>
	</dict>
</array>
</plist>
